*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*Header starts*/

.logo{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px;
}


.nav-links{
    background: #d90429;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/*Header ends*/


/*Home Page starts*/

/*yahan banner ki image idhr di hue hai*/
.banner{
    width: 100%;
    min-height: 80vh;
    background: url('../images/revo-colors-banner.png') no-repeat;
    background-size: cover;
    position: relative;
}

.text-block{
    /*border: 1px solid black;*/
    width: 80%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.text-block h1 {
    font-size: 60px;
}

.text-block p {
    font-size: 15px;

}

.btn-primary{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 36px;
    font-size: 14px;
    background: transparent;
    position: relative;
    margin: 20px
}

.btn-primary:hover {
    border: 2px solid #e0aaff;
    background: #e0aaff;
    color: black;
    transition: 1s;
}

/*for mobile design*/
@media(max-width: 700px){
    .text-block h1 {
        font-size: 38px;
    }

    .nav-links{
        position: absolute;
        background: #d90429;
        height: 80vh; /*vh means vertical height*/
        width: 110px;
        text-align: right;
        z-index: 2;
        top: 0;
        right: 0;
    }

    .nav-links ul li{
        display: block;
    }
}










/*Home Page ends*/
